* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070410;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #231651;
}
header h1 {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
}
header nav {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 48px;
}
header nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
}
header nav a:hover {
  color: #4DCCBD;
}
header .search-container input[type=search] {
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
}

@media (min-width: 720px) and (max-width: 1024px) {
  header {
    padding: 32px;
  }
  header h1 {
    font-size: 1.8rem;
  }
  header nav {
    gap: 32px;
  }
  header nav a {
    font-size: 0.9rem;
  }
}
@media (max-width: 719px) {
  header {
    padding: 16px;
  }
  header h1 {
    font-size: 1.6rem;
  }
  header nav {
    gap: 16px;
    flex-direction: column;
    align-items: center;
  }
  header nav a {
    font-size: 0.8rem;
  }
  header .search-container input[type=search] {
    padding: 6px;
    font-size: 0.9rem;
  }
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 48px;
}
@media (min-width: 720px) and (max-width: 1024px) {
  .container {
    padding: 32px;
  }
}
@media (max-width: 719px) {
  .container {
    padding: 16px;
  }
}

.movie-grid {
  display: grid;
  gap: 16px;
  grid-template-areas: "movie1" "movie2 movie3" "movie4" "movie5" "movie6";
}
@media (min-width: 720px) and (max-width: 1024px) {
  .movie-grid {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
@media (min-width: 1024px) {
  .movie-grid {
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    grid-template-areas: "movie1 movie1" "movie2 movie3" "movie4 movie4" "movie5 movie5" "movie6 movie6";
  }
}

@media (max-width: 719px) {
  .movie-grid {
    grid-template-columns: 1fr;
  }
}
.movie {
  background-color: #231651;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 16px;
  transition: transform 0.3s ease;
}
.movie:hover {
  transform: scale(1.05);
}
.movie .image {
  width: 100%;
  height: auto;
}
.movie .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.movie .image img:hover {
  transform: scale(1.03);
}
.movie .about {
  padding: 16px;
}
.movie .about h2 {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  color: #EEF36A;
  margin-bottom: 16px;
}
.movie .about p {
  font-size: 0.9rem;
  margin-bottom: 16px;
}
.movie .about .watch-now {
  display: inline-block;
  background-color: #4DCCBD;
  color: #070410;
  padding: 16px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.movie .about .watch-now:hover {
  transform: scale(1.05);
}
.movie .about .watch-now:hover {
  background-color: #EEF36A;
}

@media (min-width: 1024px) {
  .movie:nth-of-type(1) {
    grid-area: movie1;
    height: 550px;
  }
  .movie:nth-of-type(1) .image {
    height: 300px;
  }
  .movie:nth-of-type(2) {
    grid-area: movie2;
  }
  .movie:nth-of-type(3) {
    grid-area: movie3;
  }
  .movie:nth-of-type(4) {
    grid-area: movie4;
    flex-direction: row;
  }
  .movie:nth-of-type(5) {
    grid-area: movie5;
    flex-direction: row;
  }
  .movie:nth-of-type(6) {
    grid-area: movie6;
    flex-direction: row;
  }
}/*# sourceMappingURL=watch.css.map */
